@import './markdown.css';

html,
body,
#app {
  height: 100%;
  margin: 0;
  padding: 0;
}

html.dark {
  background: #121212;
  color-scheme: dark;
}

#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  background: rgb(13, 148, 136);
  opacity: 0.75;
  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
}

img.business-marker-selected{
  opacity: 1;
  filter: invert(1);
  animation: jump .8s .5s ease 1, blinker 1.5s 1.3s linear infinite, invert 1.3s ease 1;
  /* animation: blinker 1.5s linear infinite; */
}

img.user-marker-selected{
  opacity: 1;
  border-radius: 50%;
  border: 1px solid #1976D2;
  animation: pulse 1.5s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0.5;
  }
}

@keyframes jump {
  0% {
    margin-top: -20px;

  }
  50% {
    margin-top: -50px;
    filter: invert(0);
  }
  100% {
    margin-top: -20px;
    filter: invert(1);
  }
}

@keyframes invert {
  0% {
    filter: invert(0);
  }
  70% {
    filter: invert(0);
  }
  100% {
    filter: invert(1);
  }
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(13, 71, 161, 0.7);
  }
  70% {
    box-shadow: 0 0 0 15px rgba(13, 71, 161, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(13, 71, 161, 0);
  }
}
